<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

    <div class="container">
        <!-- 歡迎使用者 -->
        <h3 th:if="${session['user']}">
            <span th:text="|Hello ${session['user'].account}|"></span>
        </h3>

        <!-- 歡迎詞 -->
        <h1 th:text="|歡迎${session['user'] != null ? '回' : '來'}到管理系統|"></h1>

        <div class="link-container">
            <!-- 登入連結 -->
            <span th:unless="${session['user']}">
                <a th:href="@{/secure/login}" class="link">登入</a>
            </span>

            <!-- 機構管理連結 -->
            <span th:if="${session['user']}">
                <a th:href="@{/pages/institution}" class="link">機構管理</a>
            </span>
        </div>
    </div>

</body>
</html>
